/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/*-- Common Style --*/
*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: $exofonts;
    color: $body-color;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    font-family: $exofonts;
}

h1 {
    font-size: 120px;
    line-height: 120px;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    font-size: 55px;
    line-height: 72px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    line-height: 19px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
    line-height: 14px;
}

p {
    color: #f3f3f3;
}

p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a, button, img, input, span {
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.btn:focus {
    box-shadow: none;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

figure {
    padding: 0;
    margin: 0;
}

@keyframes animateUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.banner_keyframes_animation {
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-name: animateUpDown;
    animation-iteration-count: infinite;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow: hidden
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.container {
    max-width: 1200px;
}

@media #{$large-mobile}{
    .container {
        max-width: 576px;
    }
}

@media #{$small-mobile}{
    .container {
        width: 100%;
    }
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.tab-content > .tab-pane.active {
    display: block;
    height: auto;
    opacity: 1;
    overflow: visible;
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}


//Common Css
.padding-l-r-92 {
    padding-left: 92px;
    padding-right: 92px;
    @media #{$laptop-device}{
        padding-left: 80px;
        padding-right: 80px;
    }
    @media #{$desktop-device}{
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$tablet-device}{
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$large-mobile}{
        padding-left: 0;
        padding-right: 0;
    }
}

.body__bg {
    background-size: cover;
    background-color: #140e38;
}


.btn.btn-link {
    font-size: 23px;
    line-height: 73px;
    height: 73px;
    width: 230px;
    padding: 0 15px;
    background: url(../img/others/btn-bg.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 9;
    color: $white;
    border: 0;
    font-weight: 700;
    text-decoration: none;
    @media #{$tablet-device}{
        font-size: 20px;
    }
    @media #{$large-mobile}{
        font-size: 18px;
    }

    & img {
        margin-left: 14px;
        @media #{$large-mobile}{
            width: 17px;
        }
    }

    &:hover {
        opacity: 0.8;

        & img {
            margin-left: 20px;
        }
    }
}

@keyframes waveAnimate {
    0% {
        transform: scale(.8);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: .001;
    }
}

.video_popup {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #b154f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    position: relative;

    @media #{$tablet-device}{
        width: 100px;
        height: 100px;
    }
    @media #{$large-mobile}{
        width: 80px;
        height: 80px;
    }
    // @media #{$small-mobile2}{
    //     width: 60px;
    //     height: 60px;
    // }

    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
        animation-name: waveAnimate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        z-index: -1;
    }

    &::before {
        animation-delay: 0s;
    }

    &::after {
        animation-delay: .5s;
    }
}

.section_title {
    &.mb-60 {
        @media #{$tablet-device}{
            margin-bottom: 30px;
        }
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }

    &.mb-70 {
        @media #{$tablet-device}{
            margin-bottom: 40px;
        }
        @media #{$large-mobile}{
            margin-bottom: 35px;
        }
    }

    & h2 {
        margin-bottom: 0;
        @media #{$laptop-device}{
            font-size: 50px;
            line-height: 65px;
        }
        @media #{$desktop-device}{
            font-size: 40px;
            line-height: 54px;
        }
        @media #{$tablet-device}{
            font-size: 35px;
            line-height: 45px;
        }
        @media #{$large-mobile}{
            font-size: 28px;
            line-height: 38px;
        }
        @media #{$small-mobile2}{
            font-size: 23px;
            line-height: 32px;
        }

        & span {
            color: $secondary_color;
        }

    }

    & p {
        font-size: 18px;
        line-height: 35px;
        margin-top: 12px;
        @media #{$desktop-device}{
            font-size: 17px;
            line-height: 32px;
            margin-top: 10px
        }
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 30px;
            margin-top: 10px;
        }
        @media #{$large-mobile}{
            font-size: 15px;
            line-height: 28px;
            margin-top: 10px;
        }
        @media #{$small-mobile2}{
            font-size: 14px;
            line-height: 25px;
        }
    }
}


.slick_navigation {
    & > button {
        position: absolute;
        width: 68px;
        height: 55px;
        line-height: 52px;
        text-align: center;
        border: 0;
        background: url(../img/icon/navigation-bg1.webp);
        z-index: 9;
        top: 50%;
        transform: translatey(-50%);
        left: 0;
        @media #{$small-mobile2}{
            width: 53px;
            height: 43px;
            line-height: 42px;
            background-size: cover;
        }

        &:hover {
            background: url(../img/icon/navigation-bg2.webp);
            @media #{$small-mobile2}{
                background-size: cover;
            }
        }

        &.next_arrow {
            left: auto;
            right: 0;
        }
    }
}


/*--
  -  Fonts color
------------------------------*/
.text-black {
    color: $black;
}


/*--
    - Background color
-----------------------------------------*/
.bg-white {
    background-color: $white;
}

.bg-grey {
    background-color: #f8f8f8;
}

.bluewood-bg {
    background: #354b65;
}


/*--
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/*margin css here*/
.mb-222 {
    margin-bottom: 222px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-144 {
    margin-bottom: 144px;
}

.mb-142 {
    margin-bottom: 142px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-135 {
    margin-bottom: 135px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-126 {
    margin-bottom: 126px;
}

.mb-118 {
    margin-bottom: 118px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-105 {
    margin-bottom: 105px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-96 {
    margin-bottom: 96px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-86 {
    margin-bottom: 86px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-77 {
    margin-bottom: 77px;
}

.mb-72 {
    margin-bottom: 72px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-66 {
    margin-bottom: 66px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}


/*Margin Negative*/
.mb-n50 {
    margin-bottom: -50px;
}

/*padding css here*/
.pb-100 {
    padding-bottom: 100px;
}




