/* 01. header css here */
.body_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    cursor: progress;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;

    &.active {
        opacity: 0.3;
        visibility: visible;
    }
}

.offcanvas_menu {
    display: none;
    @media #{$tablet-device}{
        display: block;

    }
    @media #{$large-mobile}{
        display: block;
    }

}

.offcanvas_menu_wrapper {
    width: 290px;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    transition: .5s;
    left: 0;
    margin-left: -300px;
    padding: 65px 15px 30px;
    overflow-y: auto;

    &.active {
        margin-left: 0;
    }

    & .slinky-theme-default {
        background: inherit;
        min-height: 300px;
        overflow-y: auto;
    }
}

.offcanvas_main_menu {
    & > li {
        &.menu-item-has-children {
            &.menu-open {
                & > span.menu-expand {
                    transform: rotate(180deg);
                }
            }
        }

        & ul {
            & li {
                &.menu-item-has-children {
                    &.menu-open {
                        & span.menu-expand {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

.offcanvas_main_menu {
    & li {
        position: relative;

        &:last-child {
            margin: 0;
        }

        & span {
            &.menu-expand {
                position: absolute;
                right: 0;
                cursor: pointer;
                color: #000000;

                &:hover {
                    color: $secondary_color;
                }
            }
        }

        & a {
            font-size: 15px;
            font-weight: 600;
            text-transform: capitalize;
            display: block;
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid $grey_color;
            color: #000000;

            &:hover {
                color: $secondary_color;
            }
        }

        & ul.sub-menu {
            padding-left: 20px;
        }

    }
}

.canvas_close {
    position: absolute;
    top: 15px;
    right: 25px;

    & a {
        font-size: 30px;
        transition: 0.7s;
        display: inline-block;
        transform: scale(1) rotate(0deg);

        &:hover {
            color: #ffb83c;
            transform: scale(1.3) rotate(180deg);

        }

        color: #000000;

        &:hover {
            color: $secondary_color;
        }
    }
}

.canvas_open {
    display: none;
    margin-left: 35px;
    @media #{$tablet-device}{
        display: block;
    }
    @media #{$large-mobile}{
        display: block;
    }
    @media #{$small-mobile2}{
        position: absolute;
        top: 45px;
        right: 0;
    }

    & a {
        font-size: 38px;
        display: block;
        line-height: 16px;

        &:hover {
            color: $secondary_color;
        }
    }
}

/*header css heer*/

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(20, 14, 56, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    border-bottom: 0;
    display: block;
    @media #{$tablet-device}{
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        -webkit-animation-name: inherit;
        animation-name: inherit;
        padding: 0;
        background: inherit;
        opacity: inherit;
    }
    @media #{$large-mobile}{
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        -webkit-animation-name: inherit;
        animation-name: inherit;
        padding: 0;
        background: inherit;
        opacity: inherit;
    }

    & .main_header {
        padding: 10px 0;
    }
}

.header_transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

}

.main_header {
    padding: 23px 0;
    @media #{$small-mobile2}{
        flex-direction: column;
        position: relative;
        align-items: flex-start !important;
    }
}

.sing_up_btn {
    & .btn.btn-link {
        background: url(../img/others/btn-signup.webp);
        font-size: 16px;
        width: 157px;
        height: 60px;
        line-height: 60px;

        & img {
            margin-left: 8px;
        }

        &:hover {
            & img {
                margin-left: 12px;
            }
        }
    }
}

.header_logo {
    @media #{$small-mobile2}{
        width: 100%;
        justify-content: center;
    }
}

.header_right_sidebar {
    @media #{$small-mobile2}{
        width: 100%;
        justify-content: center;
        margin-top: 23px;
    }
}

.main_menu {
    padding: 0 30px;

    & nav {
        & > ul {
            & > li {
                margin-right: 57px;
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                @media #{$laptop-device}{
                    margin-right: 45px;
                }
                @media #{$desktop-device}{
                    margin-right: 57px;
                }

                &:hover {
                    & ul.sub_menu {
                        visibility: visible;
                        opacity: 1;
                        top: 132%;
                    }

                    & > a {
                        color: #ffffff;

                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                & > a {
                    display: inline-block;
                    position: relative;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #ffffff;

                    &.active {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        background: url(../img/others/menu_shape.webp);
                        left: 50%;
                        top: 50%;
                        width: 94px;
                        height: 44px;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: -1;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                    }
                }

                & ul.sub_menu {
                    position: absolute;
                    min-width: 225px;
                    padding: 18px 20px;
                    background: $white;
                    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
                    left: 0;
                    right: auto;
                    visibility: hidden;
                    opacity: 0;
                    overflow: hidden;
                    transition: .3s;
                    z-index: 99;
                    top: 148%;
                    text-align: left;
                    border-radius: 4px;

                    & li {
                        & a {
                            font-size: 14px;
                            font-weight: 500;
                            display: block;
                            line-height: 32px;
                            text-transform: capitalize;
                            color: #000000;

                            &:hover {
                                color: $secondary_color;
                            }
                        }
                    }
                }
            }
        }
    }
}




