.player_list_section.mb-125 {
    margin-bottom: 125px;
    @media #{$tablet-device}{
        margin-bottom: 70px;
    }
    @media #{$large-mobile}{
        margin-bottom: 48px;
    }
}

.player_list_single_item {
    .top {
        position: relative;
        overflow: hidden;
    }

    .image {
        display: block;
        border-radius: 38px;

        img {
            border-radius: 38px;
            width: 100%;
        }
    }

    .overlay {
        position: absolute;
        height: calc(100%);
        width: calc(100%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.97);
        display: flex;
        justify-content: center;
        background: rgba($black, .7);
        border: 6px solid rgba($white, .4);
        border-radius: 38px;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
    }

    .social-link {
        position: absolute;
        font-size: 24px;
        bottom: 40px;

        a {
            margin-right: 30px;
            color: $white;
            position: relative;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transform: translateY(40px);

            &:nth-child(1) {
                transition-delay: .1s;
            }

            &:nth-child(2) {
                transition-delay: .2s;
            }

            &:nth-child(3) {
                transition-delay: .3s;
            }

            &:nth-child(4) {
                transition-delay: .4s;
            }

            &:last-child {
                margin-right: 0;
            }

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 48px;
                height: 39px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                z-index: -1;
                transition: all .3s ease;
            }

            &::before {
                background-image: url("../img/icon/navigation-bg3.webp");
                opacity: 1;
            }

            &::after {
                background-image: url("../img/icon/navigation-bg4.webp");
                opacity: 0;
            }

            &:hover {
                &::before {
                    background-image: url("../img/icon/navigation-bg3.webp");
                    opacity: 0;
                }

                &::after {
                    background-image: url("../img/icon/navigation-bg4.webp");
                    opacity: 1;
                }
            }
        }
    }

    .content {
        position: relative;
        padding: 27px 20px;
        text-align: center;
        transition: all .3s ease;
        z-index: 1;
        margin-top: 30px;

        .title {
            font-size: 25px;
            line-height: 38px;
            font-weight: 700;

            a {
                color: #ffffff;
            }
        }

        .content-shape-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;

            img {
                width: 100%;
                height: 126px;
                object-fit: fill;
                position: absolute;
                top: 0;
                left: 0;

                &:nth-child(1) {
                    opacity: 1;
                }

                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
    }

    &:hover {
        .overlay {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        .social-link {
            a {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }

        .content-shape-img {
            img {
                &:nth-child(1) {
                    opacity: 0;
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}
